/* main styles */

.App {
  text-align: center;
}

.name-title {
  text-transform: uppercase;
}

/* screen size dependant styles */

@media screen and (min-width: 992px) {
  .App {
    width: 80%;
    margin: auto;
  }
}