/* main styles */

.App {
  width: 80%;
  margin: auto;
}

.name-title {
  text-transform: uppercase;
  text-align: center;
}

.about-me {
  margin-bottom: 1rem;
}

.about-me img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.about-me a {
  color: #000000;
  margin-right: 0.5rem;
}

/* screen size dependant styles */

@media screen and (min-width: 1200px) {
  .App {
    width: 70%;
  }
}

@media screen and (min-width: 1700px) {
  .App {
    width: 60%;
  }
}

